.index-title {
  position: center;
  color: white;
}

.list-costumes {
  background-color: rgba(300,300,300,0.4);
  padding: 30px 50px;
  // margin: 0, auto;
  // min-height: 850px;
  height: auto;
  position: absolute;
  justify-content: center;
  border-radius: 5px;
}
